<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions required for network API communication -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OdontoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/sym_def_app_icon"

        android:supportsRtl="true"
        android:theme="@style/Theme.OdontoSystem"
        tools:targetApi="31">

        <!-- Login Activity (Launcher Entry Point) -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.OdontoSystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Dashboard Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.OdontoSystem" />

        <!-- Dentist Profile Detail Activity -->
        <activity
            android:name=".ui.dentist.DentistDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.OdontoSystem" />

        <activity
            android:name=".ui.dentist.DentistDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.OdontoSystem" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.OdontoSystem.NoActionBar" />

        <activity
            android:name=".ui.dentist.VerificationStatusActivity"
            android:exported="false"
            android:theme="@style/Theme.OdontoSystem" />

    </application>

</manifest>
